section#hero {
  display: grid;
  top:0;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40fr 35fr 25fr;

  width: 80%;
  max-width: 1200px;
  min-width: 600px;

  margin: auto;

  height: 100vh;
  min-height: 700px;
  max-height: 900px;

  .highlights {
    padding-top: 150px;
  }

  #hl-one {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;
  }

  #hl-two {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
  }

  #hl-three {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;
  }

  #hero-text {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;
  }

  #desc-text {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
  } 
}

section#about-me {
  display: grid;

  padding-top: 20vh;
  padding-bottom: 20vh;

  grid-template-rows: 1fr;
  grid-template-columns: 6fr 4fr;

  width: 80%;
  max-width: 1200px;
  min-width: 600px;

  margin: auto;

  .left {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .right {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

section.work {
  width: 100vw;
  height: 110vh;

  min-height: 270px;

  background-size: cover;
}

section#work-prices, section#work-helbigs, section#work-abpm {
  div#grid-container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
    min-width: 600px;

    display: grid;

    grid-template-rows: 110vh;
    grid-template-columns: 1fr, 1fr;

    div#left {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    div#right {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}

section#work-helbigs, section#work-abpm {
  div#grid-container {
    align-items: center;
  }
}

section#footer {
  width: 80%;
  margin: auto;
  max-width: 1200px;
  min-width: 600px;

  padding-top: 80px;
  padding-bottom: 80px;

  .footer-menu-container {
    display: inline-grid;

    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-column-gap: 50px;

    padding-bottom: 40px;

    div.left {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    div.middle {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    div.right {
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }
}

@media screen and (max-width: 1165px) {
  section#hero {
    background-color: red;
  }
}

@media screen and (min-height: 900px) {
  section#about-me {
    padding-top: 75px;
    padding-bottom: 150px;
  }
}
