// SCSS Styles for www.hausofbath.com.au

@import 'typeography';
@import 'layout';

// Set Color variables.
$bg-color: #000;
$fg-color: #fff;

body {
  margin:0;
  padding:0;

  background-color: $bg-color;

  color: $fg-color;
}

#header {
  display: grid;
  position: fixed;
  top: 0;

  width: 80%;
  max-width: 1200px;
  min-width: 600px;

  right:0;
  left:0;
  margin: auto;

  grid-template-rows: 65px;
  grid-template-columns: 1fr 1fr;

  .left {
    grid-column-start: 1;
    grid-column-end: 2;

    img {
      height: 100%;
    }
  }

  .right {
    grid-column-start: 2;
    grid-column-end: 3;

    text-align: right;
  }
}

section#hero {
  article {
    border-top: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;

    padding-top: 5px;

    img.spotify-logo {
      width: 90px;
    }
  }
}

section#about-me {
  article {
    border-top: 1px solid rgba(255, 255, 255, 0.4);

    padding-top: 10px;
    margin-bottom: 40px;
  }
}

section#work-prices {
  background: url('../images/prices-bg.jpg') no-repeat 50% 50%;

  img {
    width: 40vw;
    margin-top: 25vh;
    padding-right: 30px;
  }

  article {
    margin-top: 50vh;
    margin-left: 30px;
  }
}

section#work-helbigs {
  background: url('../images/helbigs-bg.jpg') no-repeat 50% 50%;

  img {
    width: 40vw;
    padding-left: 30px;
    margin-top: 10vh;
  }

  article {
    padding-right: 30px;
  }
}

section#work-abpm {
  background: url('../images/abpm-bg.jpg') no-repeat 50% 50%;

  img {
    width: 35vw;
    padding-right: 30px;
  }

  article {
    padding-left: 45px;
  }
}

section#footer {
  img {
    display: block;
    width: 50px;
  }
}
